[Unit]
Description=Squid Web Cache version 6.12
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/squid -f /etc/squid/squid.conf -d1 
ExecStop=/usr/sbin/squid -k shutdown
User=squid
Group=squid
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
