[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/local/java/jdk1.8.0_121
Environment=CATALINA_PID=/home/tomcat/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/home/tomcat/tomcat
Environment=CATALINA_BASE=/home/tomcat/tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/home/tomcat/tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat

[Install]
WantedBy=multi-user.target

